html, body {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-color: $color-bg;
}

main, footer {
	width: 100%;
  padding-left: $menu-sidebar-space;
}

aside {
	min-width: $menu-sidebar-space;
  width: $menu-sidebar-space;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $color-menubg;
  z-index: 99;
}

@media only screen and (max-width:$max-width-tablet){
  main, footer {
  padding-left: initial;
  }

  aside {
    width: 100%;
    min-width: 100%;
    height: $menu-sidebar-space;
  }

  main {
    margin-top: $menu-sidebar-space;
  }

}

@media only screen and (max-width:$max-width-mobile){
  
  aside {
    height: $menu-sidebar-space +50;
  }

  main {
    margin-top: $menu-sidebar-space +50;
  }

}