html {
  font-size: 16px;
  font-family: $font-sec;
}

aside {
  font-size: 1rem;
}

main {
  font-size: 1rem;
}

footer {
  font-size: 1rem;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-pri;
  position: relative;
  margin-top: 0;
}

h1 {
	font-weight: 700;
  font-size: 3.75em;
}

h2 {
  font-weight: 700;
  font-size: 2.625em;
}

h3 {
  font-size: 2.25em;
  font-weight: 400;
}

p {
  line-height: $line-height;
}

a {
  text-decoration: none;
  font-weight: 700;
}
