$color-pri: #1f3a55;
$color-sec: #2e3844;
$color-highlight: #d4a26f;

$color-heading: $color-sec;

$color-text: $color-pri;
$color-text-inverse: #fff;
$color-grey: #ccc;
$color-btn: $color-highlight;

$color-bg: #eee;
$color-menubg: #fff;

$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-instagram: #833ab4;