.intro {
  background-color: $color-sec;
  color: $color-text-inverse;
}

.intro__title {
  display: none;
}

.jonbecklink {
  color: $color-highlight;
  border-bottom: 1px dotted transparent;
  transition: all .4s ease-in-out;
}

.jonbecklink:hover {
  border-bottom: 1px dotted $color-highlight;
}

@media only screen and (max-width: $max-width-mobile) {
  .intro {
    display: none;
  }
}