.sidebar {
  transition: all 0.6s cubic-bezier(.65,.26,.26,.88);
}

.sidebar--opened {
  width: 40%;
  min-width: 25em;
}

.sidebar--opened .nav {
  width: 100%;
  opacity: 1;
}

.menuhandle {
  position: absolute;
  top: 50%;
  right: .7em;
  font-family: $font-pri;
  font-weight: 700;
  font-size: em(21);
  color: $color-pri;

  .fa-bars {
    display: none;
  }
}

.logo {
  display: table;
  margin: 1em 0 0 0.5em;
  @include retina('../img/logo.png',3,contain, center center no-repeat);
  width: em(84);
  height: em(94);
}

.logo__alt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.nav {
  width: $menu-sidebar-space;
  overflow: hidden;
  width: 0;
  transition: all 0.5s cubic-bezier(.65,.26,.26,.88);
  opacity: 0;
  height: 75%;
  font-family: $font-pri;
  font-weight: 700;
  position: relative;
}

.nav ul {
  padding-left: 0;
  margin-top: .3em;
  margin-left: .5em;
  position: relative;
  top: 10%;
}

.nav__item {
  font-size: em(26);
  list-style: none;
  position: relative;
  margin-bottom: .8em;
  transition: all .3s;
  padding: 0;

  a{
    color: $color-pri;
    white-space: nowrap;
  }

  &:not(.nav__search):hover {
    padding-left: .5em;
  }

  &:not(.nav__search):hover::before {
    content: '';
    display: table;
    width: .3em;
    height: .8em;
    position: absolute;
    top: 0.22em;
    left: 0.1em;
    background-color: $color-highlight;
  }
}

.nav__item--active {
  padding-left: .5em;

  &::before {
    content: '';
    display: table;
    width: .3em;
    height: .8em;
    position: absolute;
    top: 0.22em;
    left: 0.1em;
    background-color: $color-highlight;
  }
}

.nav__item--hasChild ul {
  display: none;
}

.nav__item--child {
  font-size: em(16,26);

}

.search {
  position: relative;
  display: table;
}

.search__searchfield {
  border:none;
  padding: 0.5em 0.7em;
  font-family: $font-pri;
  font-weight: 700;
  color: $color-pri;
  width: 10em;
  background-color: #eeeeee;

  &::placeholder {
    color: #999;
  }

  &:focus {
    outline:1px solid $color-highlight;
    outline-offset: 0;
  }
}

.search__submit {
  background: none;
  border: none;
  position: absolute;
  right: 0.3em;
  top:50%;
  transform: translateY(-50%);
  outline: none;
  color: #999;

  &:hover {
    color: $color-highlight;
  }
}

.cart {
  color: $color-pri;
  font-family: $font-pri;
  font-weight: 700;
  font-size: em(21);
  margin: 0 0 0 0.5em;
  position: absolute;
  bottom: 1em;

  i{
    position: relative;
  }
}

.cart__link {
  color: $color-pri;
  border-bottom: 1px dotted transparent;
  transition: all .4s ease-in-out;
}

.cart__link:hover {
  border-bottom: 1px dotted $color-highlight;
}

.badge {
  $masterDiameter: 1.2em;

  width: $masterDiameter;
  height: $masterDiameter;
  border-radius: $masterDiameter;
  padding-top: 0.1em;
  font-family: $font-sec;
  font-weight: 400;
  font-size: em(10);
  color: $color-text;
  background-color: $color-highlight;
  display: block;
  text-align: center;
  position: absolute;
  top: -0.6em;
  right: -0.6em;
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000,.5);
  z-index: 98;
}

@media only screen and (max-width:$max-width-tablet){
    .sidebar--opened {
      height:100% !important;
      width:100%;
      min-width: 0;
    }

    .sidebar--opened .nav {
      height: 100%;
    }

    .menuhandle {
      position: absolute;
      top: em(30);
      right: 5em;
      font-family: $font-pri;
      font-weight: 700;
      font-size: em(21);

      .fa-bars {
        display: initial;
      }

      .fa-angle-left {
        display: none;
      }
    }

    .logo {
      margin: 0 0 0 1em;
      @include retina('../img/logo-vert.png',3,contain, center center no-repeat);
      width: em(270);
      height: $menu-sidebar-space;
    }

    .nav {
      text-align: center;
      width: 100%;

      ul{
        margin-left: 0;
      }
    }

    .nav__item {
      display: table;
      margin: 0 auto .8em;

      a:hover {
          border-bottom: 3px solid $color-highlight;
      }

      &:not(.nav__search):hover {
        padding-left: 0;
      }

      &:not(.nav__search):hover::before {
        display: none;
      }

      ul {
        margin: 0;
        padding-top: .3em !important;
      }
    }

    .nav__item--active {
      padding: 0;

      &::before {
        display: none;
      }
    }

    .cart {
      top: 1.875em;
      right: 1em;
      left: initial;
    }

}

@media only screen and (max-width:$max-width-mobile){

  .logo {
    display: table;
    margin: 0 auto 1em;
    transition: all 0.3s ease;
  }

  .menuhandle {
    top:4.875em;
    right: initial;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
  }
  
  .cart {
    top:4.875em;
    transition: all 0.3s ease;
  }

  .cart__text {
    display: none;
  }

  .sidebar--minimized {
    height: $menu-sidebar-space;
  }

  .sidebar--minimized .logo {
    @include retina('../img/logoemblem.png',3,contain, center center no-repeat);
    width: 4.2em;
    margin: 0 1em 1em;
  }

  .sidebar--minimized .menuhandle {
    top:1.875em;
  }  

  .sidebar--minimized .cart {
    top:1.875em;
  }



}