.social {
  list-style: none;
  padding-left: 0;
}

.social__item {
  display: inline-block;
  margin-right: 1em;

  &:last-child {
    margin-right: 0;
  }
}

.social__btn {
  $masterDiameter: em(50); 

  width: $masterDiameter;
  height: $masterDiameter;
  background-color: rgba(#1a1a1a, .7);
  display: table-cell;
  color: $color-btn;
  border-radius: $masterDiameter;
  vertical-align: middle;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.social__btn--facebook:hover {
  background-color: $color-facebook;
  color: $color-text-inverse;
}

.social__btn--twitter:hover {
  background-color: $color-twitter; 
  color: $color-text-inverse;
}

.social__btn--instagram:hover {
  background-color: $color-instagram;
  color: $color-text-inverse;
}