.social {
  list-style: none;
}

.social__item {
  display: inline-block;
}

.social__btn {
  $masterDiameter: em(50); 

  width: $masterDiameter;
  height: $masterDiameter;
  background-color: rgba(#1a1a1a, .7);
  display: table-cell;
  color: $color-btn;
  border-radius: $masterDiameter;
  vertical-align: middle;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.social__btn--facebook:hover {
  background-color: $color-facebook;
}

.social__btn--twitter:hover {
  background-color: $color-twitter; 
}

.social__btn--instagram:hover {
  background-color: $color-instagram;
}